<div class="col-md-4 body-principal" >
    <p> {{ dateActuel | async  | date: 'shortDate' }}</p>
    <p> {{ dateActuel | async |date: 'mediumTime' }}</p>
    <form  [formGroup] = "timeSheetForm">
        <div class=" p-3 mb-2">
            <p>Employee: </p>
            <div class="form-group">
                <input type="text" name="email "class="form-control" formControlName="email">
            </div>
            <p>Employee Password: </p>
            <div class="form-group">
                <input type="password" name="password"class="form-control" formControlName="password">
            </div>
            <div class="form-group">
                <select  class="browser-default custom-select" formControlName ="task">
                    <option *ngFor='let task of object| keyvalue' [value]= "task.value">
                        {{ task.value }}
                    </option>
                </select>
            </div>
            <div class="content-block" style="margin-left: 90px;">
                <div  style="display: flex; align-items: center; text-align: center;">
                    <div class="col-md-4 " id="clockIn" style="background-color: #02853470;" (click) ="getTimeSheet('clock in')">
                        <span style="color: black; font-size: x-small; ">CLOCK IN</span>
                    </div>
                    <div class="col-md-4 clock"  id="clockOut" style="background-color: rgba(2, 75, 97, 0.849); margin-left: 4%;"(click) ="getTimeSheet('clock out')">
                        <span style="color:black; font-size: x-small;">CLOCK OUT</span>
                    </div>
                </div>
                <div  style="display: flex; align-items: center;margin-top: 4%;">
                    <div class="col-md-4 clock"  id="leaveOnBreak" style="background-color: hsl(357, 97%, 46%);" (click) ="getTimeSheet('leave on break')">
                        <span style="color: black; font-size: xx-small;">LEAVE ON BREAK</span>
                    </div>
                    <div class="col-md-4 clock"  id="returnFromBreak" style="background-color: white; margin-left: 4%; padding: 0px;height: 35px;text-align: center;" (click) ="getTimeSheet('return from break')">
                        <span style="color:black;font-size: xx-small;">RETURN FROM BREAK</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

